<!--
======================================================================================================================================== 
模板文件：F:\WelineFramework\DEV-workspace\app\code\Weline\ElFinderFileManager\view\templates\Backend\Connector\elfinder.html START
========================================================================================================================================
 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <title>Elfinder文件管理器-2.1.6</title>

    <!--
============================================================================================================================= 
模板文件：F:\WelineFramework\DEV-workspace\vendor\weline\module-taglib\view\taglib\js\escape-unescape-string.phtml START
=============================================================================================================================
 -->
<!--你可以在JavaScript的String原型链上添加两个函数，一个是escapeString用于转义字符串中的特殊字符，另一个是unescapeString用于反转义已转义的字符串。以下是这两个函数的实现：-->
<script type="text/javascript">
    String.prototype.escapeString = function () {
        let output = '';
        for (let i = 0; i < this.length; i++) {
            switch (this[i]) {
                case ' ':
                    output += '\\ ';
                    break;
                case '\n':
                    output += '\\n';
                    break;
                case '\t':
                    output += '\\t';
                    break;
                case '\r':
                    output += '\\r';
                    break;
                case '\b':
                    output += '\\b';
                    break;
                case '\f':
                    output += '\\f';
                    break;
                default:
                    output += this[i];
            }
        }
        return output;
    };
    String.prototype.unescapeString = function () {
        let output = '';
        for (let i = 0; i < this.length; i++) {
            switch (this[i]) {
                case '\\ ':
                    output += ' ';
                    break;
                case '\\n':
                    output += '\n';
                    break;
                case '\\t':
                    output += '\t';
                    break;
                case '\\r':
                    output += '\r';
                    break;
                case '\\b':
                    output += '\b';
                    break;
                case '\\f':
                    output += '\f';
                    break;
                default:
                    output += this[i];
            }
        }
        return output;
    };
</script>
<!--这样，你就可以使用这两个函数来转义和反转义字符串了。例如：-->
<!--<script  type="text/javascript">-->
<!--    let myString = "Hello\nWorld!";console.log(myString.escapeString());  // 输出："Hello\\nWorld!"console.log(myString.unescapeString());  // 输出："Hello\nWorld!"-->
<!--</script>-->

<!--
===============================================================================================================================================
模板文件：F:\WelineFramework\DEV-workspace\vendor\weline\module-taglib\view\tpl\\zh_Hans_CN\taglib\js\com_escape-unescape-string.phtml END
===============================================================================================================================================
-->
    <!-- Require JS (REQUIRED) -->
    <!-- Rename "main.default.js" to "main.js" and edit it if you need configure elFInder options or any things -->
    <script data-main="<?=$main_js ;?>"
            src="/weline/module-backend/view/statics/backend/lib/requirejs/2.3.6/requirejs.min.js?v=90849"></script>
    <script>

        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search);
        let startPath = params.get("startPath");
        let targetElement = '#' + params.get("targetElement");
        let preview = params.get("preview");
        let multi = params.get("multi");
        let ext = params.get("ext");
        define('elFinderConfig', {
            // elFinder options (REQUIRED)
            // Documentation for client options:
            // https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
            defaultOpts: {
                cssAutoLoad: ['themes/windows-10/css/theme.css'],
                url: '<?=$this->getBackendUrl("*/backend/connector")?>?startPath=' + startPath, // or connector.maximal.php : connector URL (REQUIRED)
                commandsOptions: {
                    getfile: {multiple: true},
                    edit: {
                        extraOptions: {
                            // set API key to enable Creative Cloud image editor
                            // see https://console.adobe.io/
                            creativeCloudApiKey: '',
                            // browsing manager URL for CKEditor, TinyMCE
                            // uses self location with the empty value
                            managerUrl: ''
                        }
                    },
                    quicklook: {
                        // to enable CAD-Files and 3D-Models preview with sharecad.org
                        sharecadMimes: ['image/vnd.dwg', 'image/vnd.dxf', 'model/vnd.dwf', 'application/vnd.hp-hpgl', 'application/plt', 'application/step', 'model/iges', 'application/vnd.ms-pki.stl', 'application/sat', 'image/cgm', 'application/x-msmetafile'],
                        // to enable preview with Google Docs Viewer
                        googleDocsMimes: ['application/pdf', 'image/tiff', 'application/vnd.ms-office', 'application/msword', 'application/vnd.ms-word', 'application/vnd.ms-excel', 'application/vnd.ms-powerpoint', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.openxmlformats-officedocument.presentationml.presentation', 'application/postscript', 'application/rtf'],
                        // to enable preview with Microsoft Office Online Viewer
                        // these MIME types override "googleDocsMimes"
                        officeOnlineMimes: ['application/vnd.ms-office', 'application/msword', 'application/vnd.ms-word', 'application/vnd.ms-excel', 'application/vnd.ms-powerpoint', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.openxmlformats-officedocument.presentationml.presentation', 'application/vnd.oasis.opendocument.text', 'application/vnd.oasis.opendocument.spreadsheet', 'application/vnd.oasis.opendocument.presentation']
                    }
                },

                getFileCallback: function (file, fm) {
                    if (ext !== '*') {
                        let ext_ = ext.split(',').map(function (e) {
                            return e.trim();
                        })
                        for (let i = 0; i < file.length; i++){
                            let f = file[i];
                            let fExt = f.name.split('.').pop().toLowerCase();
                            let allow = false;
                            for (let i = 0; i < ext_.length; i++) {
                                if (fExt === ext_[i]) {
                                    allow = true;
                                }
                            }
                            if (!allow) {
                                throw new Error('文件类型错误。仅支持的文件类型有：'+ext_.join(', '));
                            }
                        }
                    }
                    let isMulti = true;
                    if (multi === '0' || multi === 'false' || multi === undefined || multi === null) {
                        isMulti = false;
                    }
                    if (file.length > 1 && !isMulti) {
                        file.splice(0, file.length - 1)
                    }
                    var urls = $.map(file, function (f) {
                        return f.url.replace(f.baseUrl, '');
                    });
                    // 处理path
                    for (let i = 0; i < file.length; i++) {
                        file[i].path = file[i].url.replace(file[i].baseUrl, '');
                    }
                    let parentDocument = $(window.parent.document)
                    let preview = parentDocument.find(targetElement + '-preview')
                    if (!isMulti) {
                        preview.empty()
                        parentDocument.find(targetElement).val(urls.join(','))
                    } else {
                        // 读取本地再添加文件
                        let existUrls = parentDocument.find(targetElement).val() ?? ''
                        if (existUrls) {
                            existUrls = existUrls + ','
                        }
                        parentDocument.find(targetElement).val(existUrls + urls.join(','))
                    }
                    parentDocument.find(targetElement + '-close-modal').click()
                    for (var i = 0; i < file.length; i++) {
                        let f = file[i]
                        let fileJson = JSON.stringify(f).escapeString()
                        var wrapper = document.createElement('div');
                        wrapper.innerHTML = `<div class="drag-item" draggable="true">
                                                        <div class="close" onclick="delSelectedImage(event)">x</div>
                                                        <img data-src="${f.path}" src="${f.tmb}" alt="${f.name}" class="drag-pic img-responsive" draggable="false" data-file="${fileJson}">
                                                    </div>`;
                        var html = wrapper.firstChild;
                        preview.append(html)
                    }
                },
                // bootCalback calls at before elFinder boot up
                bootCallback: function (fm, extraObj) {
                    /* any bind functions etc. */
                    fm.bind('init', function () {
                        // any your code
                    });
                    // for example set document.title dynamically.
                    var title = document.title;
                    fm.bind('open', function () {
                        var path = '',
                            cwd = fm.cwd();
                        if (cwd) {
                            path = fm.path(cwd.hash) || null;
                        }
                        document.title = path ? path + ':' + title : title;
                    }).bind('destroy', function () {
                        document.title = title;
                    });
                }
            },
            managers: {
                // 'DOM Element ID': { /* elFinder options of this DOM Element */ }
                'elfinder': {}
            }
        });
    </script>
</head>
<body>

<!-- Element where elFinder will be created (REQUIRED) -->
<div id="elfinder"></div>

</body>
</html>

<!--
==========================================================================================================================================================
模板文件：F:\WelineFramework\DEV-workspace\app\code\Weline\ElFinderFileManager\view\tpl\\zh_Hans_CN\templates\Backend\Connector\com_elfinder.html END
==========================================================================================================================================================
-->